@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 1000px;
    background-color: #f7f6fb;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    font: {
        family: 'Roboto', sans-serif;
        size: 16px;
        weight: 400;
    }
}

.title {
    font: {
        family: 'Dancing Script', cursive;
        weight: 700;
        size: 40px;
    }
    text-align: center;
    margin-bottom: 40px;
}

.total {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        font-size: 20px;
        margin: 40px 0px 20px 0px;
    }

    p {
        margin: 0px 0px 15px 0px;
    }
}

.amount {
    font-weight: 700;
}

