.footer {
    background-color: #ffffff;
    height: 120px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.text {
    color: #000000;
    font: {
        family: 'Roboto', sans-serif;
        weight: 700;
        size: 16px;
    }
    span {
        color: #666666;
    }
    margin: 0;
    margin-top: 30px;
}

.socialList {
    display: flex;
    list-style: none;
    padding: 0;
}

.socialItem {
    margin-right: 10px;
    cursor: pointer;
}

.socialItem:last-of-type {
    margin-right: 90px;
}


.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: {
        color: #ce6081;
        image: url(../../img/social-icons.png);
        repeat: no-repeat;
        size: 690px auto;
    }
}

.tw {
    background-position: 16.5% 8%;
}

.fb {
    background-position: 7% 8%;
}

.inst {
    background-position: 35.5% 8%;
}